:root { 
  /* 🎨 Paleta personalizada */
  --blue-whale: #042644;
  --periwinkle-gray: #ccdcec;
  --half-baked: #84b1d4;
  --boston-blue: #418ebd;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--periwinkle-gray);
  background-color: var(--blue-whale);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--boston-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--half-baked);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--blue-whale);
  color: var(--periwinkle-gray);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--periwinkle-gray);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--boston-blue);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--half-baked);
  background-color: var(--half-baked);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--half-baked);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--blue-whale);
    background-color: var(--periwinkle-gray);
  }
  a:hover {
    color: var(--half-baked);
  }
  button {
    background-color: var(--boston-blue);
    color: white;
  }
}
